.ansible_black    { color: black; }
.ansible_green    { color: limegreen; }
.ansible_yellow   { color: yellow;}
.ansible_magenta  { color: magenta; }
.ansible_cyan     { color: cyan; }
.ansible_white    { color: white; }
.ansible_gray     { color: dimgray; }
.ansible_none     { color: none; }
